<<<<<<< HEAD
body{
    background-color: #efe5da;
    color: #2a2839;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 45px;
}

=======
>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
/* -------------------------------------- */
/* ------------ HEADER FOOTER ----------- */
/* -------------------------------------- */

/* --------------- HEADER --------------- */

header{
<<<<<<< HEAD
    height: 70px;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: sticky;    
    position: -webkit-sticky; /* Safari */
    text-align: center;
    top: 0;
    z-index: 1;

    background-color: #8c8484;
}

#nav-header{
    width: 45%;
    
    align-items: center;
    display: flex;
}

#logo-header{
    height: 70px;
    width: auto;

    display: block;
}

.item-nav-header{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 14px 16px;
    
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: width 0.3s ease, left 0.3s ease;
}

.item-nav-header:hover{
    border-bottom: white solid 2px;
}

#boton-header{
    text-align: center;
    
    margin: 10px;
    padding: 10px;
    
    background-color: #cde2df; 
    border-radius: 15px;
    color: #2a2839; 
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.4s;
=======
    display: flex;
    justify-content: space-between;
    height: 70px;
}

#logo-header{
    display: block;
    overflow-clip-margin: content-box;
    width: auto;
    height: 70px;
}

#boton-header{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.4s;
    background-color: #cde2df; 
    color: #2a2839; 
    border-radius: 15px;
>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
}

#boton-header:hover{
    color: white;
}

<<<<<<< HEAD
=======
#nav-header{
    height: 75px;
    width: 100%;
    position: sticky;    
    position: -webkit-sticky; /* Safari */
    text-align: center;
    margin: 0 auto;
    top: 0;
    background-color: #8c8484;
    z-index: 1000;
}

#ul-header{
    list-style-type: none;
    padding: 0;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    display: flex;
    margin: 0 auto;
    width: 45%;
}

.li-a-nav-header{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: width 0.3s ease, left 0.3s ease;
    margin: 0 auto;
}

.nav-header-hover:hover{
    border-bottom: white solid 2px;
}
.nav-header-hover:active{
    border-bottom: white solid 2px;
}

>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
/* -------------------------------------- */


/* --------------- FOOTER --------------- */

footer{
    width: 100%;
<<<<<<< HEAD
    
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;

    background-color: #8c8484;
}

#logo-footer{
    height: 70px;
    width: auto;
    
    display: block;
}

#nav-footer{
    width: 45%;

    align-items: center;
    display: flex;
    text-align: center;
}

.item-nav-footer{
    display: block;
    margin: 0 auto;
    text-align: center;

    color: white;
    text-decoration: none;
}

.item-nav-footer:hover{
    font-weight: bold;
}

#section-rrss{
    width: 300px;
    
    display: flex;
    justify-content: space-between;
}

.img-rrss{
    width: 75px;
    height: 75px;
    
}

#youtube-footer{
    background-image: url("/images/youtube.svg");
}

#youtube-footer:hover{
    background-image: url('/images/youtube-negro.svg');
}

#instagram-footer{
    background-image: url("/images/instagram.svg");
}

#instagram-footer:hover{
    background-image: url("/images/instagram-negro.svg");
}

#twitter-footer{
    background-image: url("/images/twitter.svg");
}

#twitter-footer:hover{
    background-image: url("/images/twitter-negro.svg");
=======
    background-color: #8c8484;
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}

#logo-footer{
    display: block;
    width: auto;
    height: 70px;
}

#nav-footer{
    height: 75px;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

#ul-footer{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 45%;
}

.li-a-nav-footer{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: width 0.3s ease, left 0.3s ease;
    margin: 0 auto;
}

.nav-footer-hover:hover{
    font-weight: bold;
}

#ul-rrss{
    display: flex;
}

.li-rrss{
    display: block;
    text-decoration: none;
    margin: 20px;
>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
}

/* -------------------------------------- */


/* -------------------------------------- */
/* ---------- PAGINA PRINCIPAL ---------- */
/* -------------------------------------- */

/* ----------- FOTO PRINCIPAL ----------- */

#contenedor-principal{
    width: 100%;
<<<<<<< HEAD
    
    display: inline-block;
    position: relative;
}

#contenedor-principal img{
    height: auto;
    width: 100%;
}

#contenedor-principal h2{
    top: 70%;
    font-size: 40px;
}

#contenedor-principal p{
    top: 77%;
    font-size: 24px;
}

.texto-imagen-principal{
    position: absolute;
    left: 50px;
=======
    position: relative;
    display: inline-block;
}

#imagen-principal{
    width: 100%;
    height: auto;
    margin: 0 auto;

}

#titulo-principal{
    position: absolute;
    top: 70%;
    left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
    color: white;
    text-shadow: 1px 1px 2px black;
}

<<<<<<< HEAD
#contenedor-principal a{
    margin: 10px;
    padding: 10px;
    text-align: center;
    top: 85%;
    
    background-color: rgba(140, 132, 132, .5); 
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.4s;
}

#contenedor-principal a:hover{
=======
#p-principal{
    position: absolute;
    top: 77%;
    left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#boton-foto-principal{
    position: absolute;
    top: 85%;
    left: 40px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    transition-duration: 0.4s;
    background-color: rgba(140, 132, 132, .5); 
    color: white; 
    border-radius: 20px;
}

#boton-foto-principal:hover{
>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
    background-color: #8C8484;
}

/* -------------------------------------- */

/* ------------- TARJETITAS ------------- */

<<<<<<< HEAD
.contenedor-tarjetitas{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 50px;
}

.contenedor-tarjetitas article{
    height: 800px;
    width: 450px;
    margin: 5px; 
    text-align: center;

    background-color: #cde2df ;
    border-radius: 20px;
}
 
.contenedor-tarjetitas img{
    height: 250px;
    width: 400px;
}
  
.contenedor-tarjetitas p{
    padding: 27px;
    text-align:justify;

    font-size: 20px;
}
  
.boton-principal{
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    
    background-color: #2a2839; 
    border-radius: 20px;
    color: #cde2df;
    font-size: 35px;
    text-decoration: none;
    transition-duration: 0.4s;
}
 
.boton-principal:hover{
    color: white;
}

#grande{
    height: 900px;
    width: 500px;
}

#grande img{
    height: 300px;
    width: 450px;
}

#grande h2{
    font-size: 50px;
}

#grande p{
    font-size: 22px;
}

#grande a{
    font-size: 40px;
}


/* -------------------------------------- */

=======
#contenedor-tarjetitas{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.tarjetita{
   background-color: #cde2df ;
   width: 500px;
   height: 900px;
   text-align: center;
   margin: 5px;
   border-radius: 20px;
}

.t-pequena{
    width: 450px;
    height: 800px;
}

.foto-tarjetita{
    width: 450px;
    height: 300px;
    margin: 0 auto;
}

.f-pequena{
    width: 400px;
    height: 250px;
}

.titulo-tarjetita{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #2a2839;
}

.h-pequena{
    font-size: 45px;
}

.parrafo-tarjetita{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align:justify;
    padding: 27px;
    color: #2a2839;
}

.p-pequena{
    font-size: 20px;
}

.boton-tarjetita{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 40px;
    transition-duration: 0.4s;
    background-color: #2a2839; 
    color: #cde2df;
    border-radius: 20px;

}

.boton-tarjetita:hover{
    color: white;
}

.b-pequena{
    font-size: 40px;
}

/* -------------------------------------- */


>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
/* -------------- NOSOTROS -------------- */

#contenedor-nosotros{
    text-align: center;
}

<<<<<<< HEAD
#contenedor-nosotros h2{
    font-size: 50px;
    margin-top: 100px;
}

#contenedor-nosotros h3{
    font-size: 40px;
}

#contenedor-nosotros article{
    height: 850px;
    width: 500px;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contenedor-nosotros img{
    height: auto;
    width: 100%;

    border-radius: 20px 20px 0 0;
}

#contenedor-nosotros p{
    font-size: 24px;
    margin: 0;
}

/* -------------------------------------- */

/* -------------------------------------- */
/* ------------ QUIENES SOMOS ----------- */
/* -------------------------------------- */

#quienes-somos{
    padding-inline: 100px;
    padding-top: 50px;
}

#quienes-somos p{
    font-size: 20px;
    text-align: justify;
}

#quienes-somos article{
    align-items: center;
    display: flex;
}

#quienes-somos img{
    border-radius: 20px;
    width: 40%;
}

#quienes-somos-img-1{
    margin-left: 70px;
}

#quienes-somos-img-2{
    margin-right: 70px;
}

#article-que-nos-define{
    flex-direction: column;
}

/* -------------------------------------- */

/* -------------------------------------- */
/* ------------- QUE HACEMOS ------------ */
/* -------------------------------------- */

#main-que-hacemos{
    padding-inline: 100px;
    padding-top: 50px;
}

#article-que-hacemos{
    background-color: #cde2df;
    border-radius: 20px;
    display: flex;
    height: 700px;
}

#article-que-hacemos h3{
    margin-bottom: 0;
    
    font-size: 35px;
    font-weight: lighter;
}

#article-que-hacemos section{
    flex-direction: column;
    height: max-content;
    padding-left: 25px;
    padding-right: 25px;
}

#article-que-hacemos a{
    margin: 0px;
    position: absolute;
    top: 90%;
   
    font-size: 40px;
    font-weight: bold;
}

#article-que-hacemos p{
    font-size: 22px;
}

#article-que-hacemos h6{
    margin-top: 0;

    font-size: 18px;
    font-weight: normal;
}

#article-que-hacemos img{
    height: 100%;
    width: 60%;
}

#section-cajitas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-between;  
}

#section-cajitas article{
    flex-direction: column;
    height: 400px;
    margin-block: 30px;
    padding: 15px;
    width: 22%;
    
    background-color: #cde2df;
    border-radius: 20px;
}

#section-cajitas img{
    width: 100%;
}

#section-cajitas h4{
    margin-block: 5%;
    
    font-size: 22px;
    font-weight: lighter;
}

#section-cajitas p{
    font-size: 15px;
    text-align: justify;
}

/* -------------------------------------- */

/* -------------------------------------- */
/* ------------- DONACIONES ------------- */
/* -------------------------------------- */

#main-donaciones{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main-donaciones p{
    margin-top: 0;
    font-size: 23px;
}

.formulario{
    border: 1px solid #2a2839;
    background-color: #cde2df;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-inline: 50px;
    padding-block: 20px;
    width: 30%;
}

.seleccion-dinero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.seleccion-dinero input[type="radio"]{
    display: none;
}

.seleccion-dinero input[type="radio"]:not(:checked) + label {
    background-color: #efe5da;
  }

.seleccion-dinero input[type="radio"]:checked + label{
    background-color: #2a2839;
    color: white;
}

.seleccion-dinero label{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-block: 10px;
    width: 45%;

    background-color: #efe5da;
    border: 1px solid #2a2839;
    border-radius: 20px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
}

.formulario p{
    border: 1px solid #2a2839;
    padding: 3px;
    margin-top: 23px;
    margin-bottom: 0;
}

.formulario input[type="email"], input[type="number"], input[type="text"], select {
    padding: 7px;
    margin-block: 10px;
    width: 100%;

    background-color: #efe5da;
    border: 1px solid #2a2839;
    font-size: 20px;
}

#acepto-donar-label{
    font-size: 20px;
}

.formulario input[type="submit"]{
    height: 60px;
    margin-top: 23px;
    padding-inline: 15px;
    width: fit-content;
    
    background-color: #efe5da;
    border: 1px solid #2a2839;
    border-radius: 13px;
    font-size: 30px;
    font-weight: bold;
}

.formulario input[type="submit"]:hover{
    background-color: #2a2839;
    color: white;
}


#div-donar{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* -------------------------------------- */

=======
#contenedor-cajas-nosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#h-nosotros{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #2a2839;
    margin-block: 100px;
}

.caja-nosotros{
    border-radius: 20px;
    background-color: #cde2df;
    width: 500px;
    height: 850px;
    text-align: center;
    margin: 5px;
}

.foto-caja-nosotors{
    width: 450px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.titulo-caja-nosotros{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #2a2839;
}

.parrafo-caja-nosotros{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align:justify;
    padding: 27px;
    color: #2a2839;
}

.boton-caja-nosotros{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 40px;
    transition-duration: 0.4s;
    background-color: #2a2839; 
    color: #cde2df; 
    border-radius: 20px;
}

.boton-caja-nosotros:hover{
    color: white;
}

/* -------------------------------------- */


>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
/* -------------------------------------- */
/* -------------- CONTACTO -------------- */
/* -------------------------------------- */

#section-contacto{
<<<<<<< HEAD
    margin-top: 100px;
    text-align: center;
}

#section-contacto h1{
    margin-bottom: 20px;
}

#section-contacto h2{
    font-weight: 400;
    margin: 0;
}

#section-contacto h3{
    font-size: 22px;
    font-weight: normal;
    margin: 0;
}

#section-contacto a{
    color: #2a2839;
    font-size: 20px;
    text-decoration: none;
}

#section-contacto img{
    width: 3%;
    margin: 20px;
}

#datos-contacto{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#section-contacto p{
    font-size: 20px;
    margin: 0;
=======
    text-align: center;
}

#h1-contacto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    color: #2a2839;

}

#h2-contacto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: #2a2839;

}

#p-direccion{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #2a2839;

}

#p-codigo-postal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #2a2839;

}

#a-telefono{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #2a2839;
    text-decoration: none;

}

#a-mail{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #2a2839;
    text-decoration: none;
}

#ul-rrss-contacto{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
}

.li-rrss-contacto{
    display: block;
    padding: 20px;
>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
}

/* -------------------------------------- */

<<<<<<< HEAD
=======

>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
/* -------------------------------------- */
/* ------------ HAZTE SOCIO ------------- */
/* -------------------------------------- */

#main-socio{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

<<<<<<< HEAD
#main-socio p{
    font-size: 23px;
}

#acepto-socio-label{
    font-size: 20px;
}

#newsletters-label{
    font-size: 20px;
}

#nombre{
    width: 50%;
}

#tratamiento{
    width: auto;
}

#div-nombre-tratamiento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div-nombre-tratamiento label{
    font-size: 23px;
}

#div-cp-tel{
    display: flex;
    justify-content: space-between;
}

#div-cp-tel input[type="number"]{
    width: 47%;
}


#temas div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;
}

#div-leido{
    margin-top: 10px;
}

#div-socio{
    display: flex;
    justify-content: center;
}
/* -------------------------------------- */
=======
#h1-socio{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #2a2839;

}

#p-socio{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    color: #2a2839;

}

form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10%;
    border: 1px solid #333;
    background-color: beige;
    width: 25%;
}

input[type="text"],
input[type="email"],
fieldset{
    width: 90%;
    border: 1px solid #333;
    box-sizing: border-box;
    margin: 3%;
} 

label,
input[type="date"], 
input[type="radio"],
select{
    margin-left: 3%;
}

input[type="number"] {
    border: 1px solid #333;
    box-sizing: border-box;
}

input[type="submit"]{
    font-size: 20px;
    border: 1px solid black;
    background-color:bisque;
    font-weight: bold;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 5%;
}

/* -------------------------------------- */


/* -------------------------------------- */
/* ------------- DONACIONES ------------- */
/* -------------------------------------- */

#main-donaciones{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#h1-donaciones{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #2a2839;

}

#p-donaciones{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    color: #2a2839;

}

form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10%;
    border: 1px solid #333;
    background-color: beige;
    width: 25%;
}

input[type="text"],
input[type="email"],
fieldset{
    width: 90%;
    border: 1px solid #333;
    box-sizing: border-box;
    margin: 3%;
} 

label,
input[type="date"], 
input[type="radio"],
select{
    margin-left: 3%;
}

input[type="number"] {
    border: 1px solid #333;
    box-sizing: border-box;
}

input[type="submit"]{
    font-size: 20px;
    border: 1px solid black;
    background-color:bisque;
    font-weight: bold;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 5%;
}

/* -------------------------------------- */


/* -------------------------------------- */
/* ------------ QUIENES SOMOS ----------- */
/* -------------------------------------- */

#article-quienes-somos{
    width:fit-content;
    padding: 50px;
    display: flex;
}

#h1-quienes-somos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #2a2839;
}

#p-quienes-somos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width:fit-content;
    color: #2a2839;
}

#img-quienes-somos{
    width: fit-content;
}

#article-que-nos-define{
    width:fit-content;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h2-que-nos-define{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #2a2839;
}

#p-que-nos-define{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #2a2839;
}

#article-quienes-somos-final{
    width:fit-content;
    padding: 50px;
    display: flex;
    align-items: center;
}

#img-quienes-somos-final{
    border: 1px solid black;
    width: fit-content;
}

#p-quienes-somos-final{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width:fit-content;
    margin-left: 50px;
    color: #2a2839;
}

/* -------------------------------------- */


/* -------------------------------------- */
/* ------------- QUE HACEMOS ------------ */
/* -------------------------------------- */

#main-que-hacemos{
    padding: 50px;
}

#h1-que-hacemos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #2a2839;
}

#article-que-hacemos{
    display: flex;
    height: 700px;
    background-color: #cde2df;
    border-radius: 20px;
}

#section-que-hacemos{
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    height: max-content;
}

#h3-que-hacemos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: lighter;
    color: #2a2839;
}

#autor-noticia-que-hacemos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #2a2839;
}

#descripcion-noticia-que-hacemos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #2a2839;
}

#img-noticia-principal-que-hacemos{
    width: 60%;
    height: 100%;
}

#boton-leer-mas{
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    transition-duration: 0.4s;
    background-color: #2a2839; 
    color: #cde2df; 
    border-radius: 20px;
    position: absolute;
    top: 80%;
}

#boton-leer-mas:hover{
    color: white;
}


#h2-que-hacemos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    color: #2a2839;
}


#section-cajitas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-between;  
}

.cajita{
    flex-direction: column;
    width: 23%;
    margin-block: 30px;
    background-color: #cde2df;
    border-radius: 20px;
    padding: 15px;
}

.img-cajita{
    border: 1px solid black;
    width: 100%;
}

.h4-cajita{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a2839;
    font-size: 22px;
    font-weight: lighter;
}

.p-cajita{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a2839;
    font-size: 15px;
}

/* -------------------------------------- */

body{
    background-color: #efe5da;
}
>>>>>>> 9a80d3edc06233bb6785f6466a2c5f302eac33f9
